[Desktop Entry]
Name=ftp
Comment=The standard UNIX FTP (file transfer protocol) client
Comment[de]=Standardmäßiger Unix-ftp-Client (file transfer protocol)
Comment[es]=Cliente ftp padrón Unix (protocolo de transmisión de archivo)
Comment[fr]=Client ftp (file transfer protocol) standard d'Unix
Comment[pl]=Standardowy klient ftp (file transfer protocol)
Comment[pt_BR]=Cliente ftp padrão Unix (protocolo de transmissão de arquivo)
Comment[ru]=óÔÁÎÄÁÒÔÎÙÊ FTP (file transfer protocol) ËÌÉÅÎÔ Unix
Comment[tr]=Standart UN*X ftp istemcisi
Comment[uk]=óÔÁÎÄÁÒÔÎÉÊ FTP (file transfer protocol) ËÌ¦¤ÎÔ Unix                                                                   
Exec=ftp
Icon=ftp.png
Terminal=1
Type=Application
# vi: encoding=utf-8
